
VITE_SUPABASE_URL=https://klteevegsvzqhtvdgsbr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsdGVldmVnc3Z6cWh0dmRnc2JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDM2NDMsImV4cCI6MjA4ODM3OTY0M30.o5cKXdpRQhsYdKZzklnV4Kl5I29Ht5TKwT2IluMwp20
